
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
body {
    background-color:darkgray; 
    background-size: cover;
    color:  rgba(27,71,110,0.98);
    
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    padding-left: 50px;
    padding-bottom: 15px;
}
.insert{
    padding: 50px;
    margin-left: 80px;
}


.search{
    display: inline-block;
    padding: 50px;
    margin-left: 80px;
    
}
.showall{
    display: inline;
}
td{
    width: auto;
    padding: 10px;
    
    
}
th{
    text-align: center;
padding: 15px;

}
tr{
    text-align: center;
padding: 15px;
    width: auto;
}

button{
    height: 28px;
    width: 100px;
    border-radius: 4px;
    color:  rgba(27,71,110,0.98);
    
}