
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
body {
    background: url(background.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.navbar-custom{
     background-color: rgba(27,71,110,0.98);
     margin-bottom: 3px!important;
     
}
.navbar-custom ul li:nth-child(4){
    margin-right: 40px;
}

ul {
    
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    
}

li a {
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: none;
   color: rgba(36,140,213,0.7);
}

.nav a:visited {
    color: rgba(240,255,255,1);
}


.active {
    color: rgba(36,142,213,0.8);
}
.logo {

    vertical-align: middle;
    width: 120px;
    height: 50px;
    margin-left: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.car-custom{
    text-align: center;
    color: azure;
    font-size: 20px;
    height:28px;
    margin:15px;
    margin-top:24px; 
}




.col-sm-3 p{
    margin-top: 80px;
    margin-bottom: 60px;
    color: azure;
    opacity: 0.8;
    background-color: rgba(27,71,110,0.5);
    border-radius: 8px;
    width:280px;
    height:190px;
    text-align: center;
    font-size: 21px;
}
.car-custom1{
    text-align: center;
    color: azure;
    font-size: 20px;
    height:28px;
margin-bottom: 46px;
    
}

.footer-custom{
    margin-right: 0;
    margin-left: 0 ;
    height: 60px;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
    border-radius: 3px;
    color: azure;
    background-color: rgba(27,71,110,0.98);
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    margin-top: 13px;
    margin-bottom: 2px;
    
    
}

.footer-custom a{
    margin:15px;

}

.footer-custom a:hover{
     background-color: transparent;
  text-decoration: none;
   color: rgba(36,140,213,0.7);
}
.footer-custom a:focus{
     background-color: transparent;
  text-decoration: none;
   color: rgba(36,140,213,0.7);
}
/*
.footer-custom > a:hover, .footer-custom > a:focus {
  background-color: transparent;
  text-decoration: none;
   color: rgba(36,140,213,0.7);
}
*/

.footer-custom a:visited {
    color: rgba(240,255,255,1);
}


